/*mobile view*/

.contact-us{
    width: 90vw;
    margin-inline: auto;
    align-items: center;
    --grid-gap: 4rem;
    margin-block: 3rem;
    grid-auto-columns: 1fr;
    grid-template-areas: 'one' 'two';
}

.contact-us:nth-child(1){
    grid-area: one;
}
.contact-us:nth-child(2){
    grid-area: two;
}

.contact-form{
    margin-block: 1.5rem;
    --grid-gap:1rem;
}

.contact-us input{
    border:0;
    padding: 1rem 2rem;
    border-radius: 1.5rem;
}
.contact-us input:focus{
    outline: none;
}
.contact-us textarea{
    width: 100%;
    border: 0;
    border-radius: 2rem;
}
.contact-us textarea:focus{
    outline: none;
}

.contact-us textarea::placeholder{
    padding-top: 1rem;
    padding-left: 1rem;
}

.contact-btn > button{
    padding: 1rem 3rem ;
    font-size: 1rem;
    margin-top: 1.5rem;
}

/*Media Query*/
@media(min-width:45em){
    .contact-us input{
        width: 30vw;
    }
    .contact-us textarea{
        width: 55vw;
    }
    .contact-us h1{
        font-size: 1rem;
    }
}

/*Support Section*/

.support-container{
    width: 90vw;
    margin-inline: auto;
    margin-bottom: 7rem;
    place-items: center;
    --grid-gap: 3rem;
    grid-auto-columns: 1fr;
    grid-template-areas: 'one' 'two' 'three';
}
.support-container:nth-child(1){
    grid-area: one;
}
.support-container:nth-child(2){
    grid-area: two;
}
.support-container:nth-child(3){
    grid-area: three;
}

.support-info{
    --grid-gap:1rem;
    place-items: center;
}
.support-img{
    place-items: center;
}

@media(min-width:45em){
    .support-container{
        grid-template-areas: 'one two three';
    }
    .support-info > p , .support-info span {
        font-size: 1rem;
    }
    .support-info {
        margin-top: 50px;
    } 
}