.side-nav{
    width: 58px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px 15px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    transition: width 0.5s;
}
.user{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60px;
    font-size: 12px;
    padding: 10px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
.user div{
    display: none;
}
.user h2{
    font-size: 15px;
    font-weight: 600;
    white-space: nowrap;
    padding-left: 6px;
}
.user p{
    padding-left: 6px;
}
.user-img{
    width: 40px;
    border-radius: 50%;
    margin: auto;
    padding-bottom: 7px;
    margin-left: -13.5px;
}
ul{
    list-style: none;
    padding: 0 15px;
}
ul li{
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
ul li .img{
    width: 40px;
    font-size: 20px;
    margin-right: 0px;
}
ul li p{
    white-space: nowrap;
    display: none;
}
.side-nav:hover{
    width: 180px;
}
.side-nav:hover .user div{
    display: block;
}
.side-nav:hover .user{
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
}
.side-nav:hover ul li p{
    display: block;
}
.side-nav:hover ul li .img{
    margin-right: 10px;
}
.side-nav:hover ul li {
    justify-content: flex-start;
}